.character-list {
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

@media screen and (max-width: 768px) {
    .character-list {
        max-width: 100%;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        
    }
}